@charset "UTF-8";
/*flobal_tes*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.3%;
}

body {
  color: #333;
  font-size: 1.6rem;
  /*16px*/
  font-family: "M PLUS 1p", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.container {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

main {
  width: 78%;
  margin: 0 auto;
  order: 2;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

main p.txt_center {
  text-align: center;
}

main section {
  margin: 5% 0;
}

main section:first-child {
  margin-top: 0%;
}

aside {
  width: 18%;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

footer {
  width: 100%;
  background-color: #F0F0F0;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px !important;
  }
  div.container {
    width: 95%;
  }
  main {
    width: 100%;
    margin: 0 auto;
    order: 2;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  aside {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    margin-top: 10%;
  }
}

.top_newarrival .sysContent .sysHorizontal .sysItemImage img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
  font-family: 'object-fit: cover';
}

.tes_001 img {
  -o-object-fit: cover;
     object-fit: cover;
  /*height:290px;*/
  border-radius: 5%;
  font-family: 'object-fit: cover';
}

/*スマフォ対応*/
@media screen and (max-width: 480px) {
  .top_newarrival .sysContent .sysHorizontal .sysItemImage img {
    height: 120px;
  }
  .tes_001 img {
    height: 100px;
  }
}

#tes_001_slider li {
  width: 25%;
  background: #fff;
}

.tes_001 .sysContent .sysHorizontal li {
  width: 100% !important;
}

#sysItemDetail .active {
  background: #fff url(/img/layout/system/ico_minus.png) 10px center no-repeat !important;
  background-size: 1px !important;
}

/*tes*/
div.item_banner {
  width: 100%;
  text-align: center;
  position: relative;
}

div.item_banner div {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0 0 5px #333333;
}

div.item_banner h3 {
  font-size: 2.5rem;
  font-weight: 900;
  border-bottom: white 2px solid;
  margin: 0 0 2% 0;
}

div.item_banner h3 span {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

div.item_banner img {
  width: 100%;
}

img.sp {
  display: none !important;
}

img.pc {
  display: block !important;
}

@media screen and (max-width: 600px) {
  div.item_banner div {
    width: 90%;
  }
  div.item_banner h3 {
    font-size: 2rem;
  }
  div.item_banner h3 span {
    font-size: 1.5rem;
  }
  img.sp {
    display: block !important;
  }
  img.pc {
    display: none !important;
  }
}

/*ヒーロヘッダー*/
div.hero_header {
  width: 100vw;
  height: 90vh;
  background-color: chocolate;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-wrap {
  position: relative;
}

video {
  display: block;
  margin: 0 0 0 auto;
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
  font-family: 'object-fit: cover';
}

.video-wrap h2 {
  color: #fff;
  font-size: 900%;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
}

header {
  margin-bottom: 3%;
  display: block;
  text-align: center;
}

header img {
  width: 300px;
  margin-top: 2%;
}

/*コーディネート*/
.coordinator h3 {
  color: #40c2f0;
  position: relative;
  text-align: center;
  font-size: 50px;
  background: -webkit-linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.coordinator p {
  text-align: center;
  margin-bottom: 2%;
}

.coordinator strong {
  font-size: 2.0rem;
  display: inline-block;
  margin: 1.5% 0;
}

@media screen and (max-width: 600px) {
  .coordinator h3 {
    font-size: 2.3rem;
    line-height: 1.5;
  }
  .coordinator strong {
    font-size: 1.6rem;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 5%;
}

.coordination {
  width: 32%;
}

.col_4 .coordination,
.null_box {
  width: 19%;
}

a.inline p {
  text-align: center;
  margin-top: -2%;
}

.coordination img,
.inline_imgbox img {
  width: 100%;
  min-height: 200px !important;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover';
}

.col_4 .coordination img {
  height: 250px;
}

.coordination img.coordination_img {
  margin: 5% 0;
}

.inline_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  text-align: center;
}

.inline_box div {
  width: 18%;
  padding: 1%;
}

/*ライトボックス*/
.popupbox {
  height: 100vh;
  width: 100vw;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  text-align: center;
}

.popupbox:target {
  display: table;
}

.popuplink {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.popupimg {
  background-color: #fff;
  display: block;
}

.popupimgBG {
  display: inline-block;
  background-color: #FFF;
  padding: 10px;
  width: 75%;
}

.popupimgBG img {
  width: 100%;
}

.flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 2% auto;
}

.flex_box div.first_box {
  /*margin: 1%;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_3 .first_box {
  width: 30%;
}

.item_2 .first_box {
  width: 48%;
}

.item_3 .first_box img {
  height: 500px;
}

.item_2 .first_box img {
  height: 800px;
}

.flex_box div.first_box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  font-family: 'object-fit: cover';
}

.flex_box div.second_box {
  width: 30%;
  /*margin: 1%;*/
  margin-bottom: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.flex_box div.second_box img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover';
}

.flex_box div.first_box:first-child {
  margin-left: 0%;
}

.flex_box div.first_box:last-child {
  margin-right: 0%;
}

.empty_item {
  width: 30%;
}

h2 {
  width: 100%;
  position: relative;
  font-size: 1.3em;
  border-bottom: 3px solid;
  -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#40c2f0), to(#e85483));
  -webkit-border-image: -webkit-linear-gradient(left, #40c2f0 0%, #e85483 100%);
       -o-border-image: linear-gradient(to right, #40c2f0 0%, #e85483 100%);
          border-image: -webkit-gradient(linear, left top, right top, from(#40c2f0), to(#e85483));
          border-image: linear-gradient(to right, #40c2f0 0%, #e85483 100%);
  border-image-slice: 0 0 1;
  font-weight: 700;
  margin-bottom: 2%;
}

.coordinator_doc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0.5%;
}

@media screen and (max-width: 600px) {
  .flex_box {
    width: 100%;
  }
  .flex_box div.first_box {
    width: 100%;
    height: 500px;
    margin-bottom: 10%;
    margin-bottom: 2%;
  }
  .flex_box div.first_box img {
    width: 100%;
    height: 100%;
  }
  .col_4 .coordination,
  .coordination,
  .null_box {
    width: 32%;
  }
}

/*メニュー*/
.menu-container {
  margin: 0;
  overflow-x: auto;
}

.menu-container .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 3%;
}

.menu-container .menu::after {
  clear: both;
  content: "";
  display: block;
}

.menu-container .menu .menu-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  white-space: nowrap;
}

.menu-container .menu .menu-item a {
  background: #fff;
  border: 1px solid #ccc;
  border-right: none;
  color: #333;
  display: block;
  min-width: 150px;
  padding: 0.6em 0.4em;
  text-align: center;
  text-decoration: none;
}

.menu-container .menu .menu-item a:hover {
  background: -webkit-linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
  background: linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
  color: #ffffff;
}

footer .menu-container .menu .menu-item a {
  border: 1px solid #ccc;
  border-right: none;
  color: #333;
  display: block;
  min-width: 150px;
  padding: 0.6em 0.4em;
  text-align: center;
  text-decoration: none;
}

footer .menu-container .menu .menu-item a:hover {
  background: -webkit-linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
  background: linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
  color: #ffffff;
}

.menu-container .menu .menu-item:last-child a {
  border-right: 1px solid #ccc;
}

/******* btnボタン *******/
.btn {
  text-align: center;
  margin: 5% auto;
}

.btn-cross {
  display: inline-block;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px #40c2f0;
  border-bottom: solid 2px #e85483;
  text-decoration: none;
  font-weight: bold;
  color: #03A9F4;
  text-align: center;
  font-size: 1.5rem;
}

.btn-cross:before, .btn-cross:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: calc(100% + 14px);
  /*background-color: black;*/
  background: -webkit-gradient(linear, left top, right bottom, from(#40c2f0), to(#e85483));
  background: -webkit-gradient(linear, left top, right top, from(#40c2f0), to(#e85483));
  background: -webkit-linear-gradient(left, #40c2f0, #e85483);
  background: linear-gradient(left, #40c2f0, #e85483);
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-cross:before {
  left: 7px;
}

.btn-cross:after {
  right: 7px;
}

.btn-cross:hover:before {
  top: 0px;
  left: 0;
  height: 100%;
}

.btn-cross:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}

/*ショールーム*/
#include_showroom {
  margin: 0 auto;
}

.showroom_box {
  margin: 3% 0;
}

.sr_info {
  text-align: center;
}

.showroom_box img {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover';
}

.showroom_box h4 {
  padding-bottom: .5em;
  font-size: 2.4rem;
  font-weight: 750;
  text-align: center;
  border-bottom: #e85483 2px solid;
  margin-bottom: 1%;
}

.showroom_box h4 span {
  display: block;
  margin-bottom: .2em;
  color: #aaa;
  font-size: 1.3rem;
}

.showroom_box h5 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 300px;
  max-width: 100%;
  color: #fff;
  font-size: 2.0rem;
  background: #03A9F4;
  text-align: center;
  border-radius: 10px;
}

.showroom_box h5:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #03A9F4;
}

.showroom_box p {
  line-height: 2;
}

.acces {
  font-weight: 900;
  font-size: 1.8rem;
}

.showrroom_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.showrroom_list li {
  width: 300px;
  text-align: center;
  background: -webkit-linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
  background: linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
  height: 30px;
  line-height: 30px;
  margin-right: 2px;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 5%;
}

.showrroom_list li:hover {
  background: -webkit-linear-gradient(45deg, #e85483 0%, #40c2f0 100%);
  background: linear-gradient(45deg, #e85483 0%, #40c2f0 100%);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.showrroom_list a {
  text-decoration: none !important;
}

.showrroom_list a:active {
  text-decoration: none !important;
}

@media screen and (max-width: 600px) {
  .showrroom_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15%;
  }
  .showrroom_list li {
    width: 80%;
    margin: 5% auto;
  }
}

/*=== 画像の表示エリア ================================= */
.slide {
  position: relative;
  overflow: hidden;
  /* 画像のサイズに合わせて変更ください */
  width: 100%;
  height: 500px;
  margin: auto;
  /* サンプルは中央寄せの背景：白 */
  background: #fff;
}

.slide img {
  display: block;
  position: absolute;
  /* 画像のサイズを表示エリアに合せる */
  width: inherit;
  height: inherit;
  opacity: 0;
  -webkit-animation: slideAnime 15s ease infinite;
          animation: slideAnime 15s ease infinite;
  border-radius: 10px;
}

.slide img:nth-of-type(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.slide img:nth-of-type(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.slide img:nth-of-type(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.slide img:nth-of-type(4) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.slide img:nth-of-type(5) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

/*=== 画像の設定 ======================================= */
/*=== スライドのアニメーションを段差で開始する ========= */
/*=== スライドのアニメーション ========================= */
@-webkit-keyframes slideAnime {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideAnime {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .slide {
    height: 200px;
  }
}

/*もっとみるボタン*/
.cp_box {
  position: relative;
  margin-bottom: 10%;
}

.cp_box * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp_box *:before, .cp_box *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp_box label {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 40px;
  /* グラデーションの高さ */
  cursor: pointer;
  text-align: center;
  /* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 252, 252, 0)), color-stop(90%, rgba(250, 252, 252, 0.95)));
  background: -webkit-linear-gradient(top, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
  background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}

.cp_box input:checked + label {
  background: inherit;
  /* 開いた時にグラデーションを消す */
}

.cp_box label:after {
  line-height: 2.5rem;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 50%;
  width: 16rem;
  content: ' もっと見る';
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  letter-spacing: 0.05em;
  color: #ffffff;
  border-radius: 10px;
  background: -webkit-linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
  background: linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
}

.cp_box input {
  display: none;
}

.cp_box .cp_container {
  overflow: hidden;
  height: 750px;
  /* 開く前に見えている部分の高さ */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cp_box input:checked + label {
  /*display: none ; 閉じるボタンを消す場合解放 */
}

.cp_box input:checked + label:after {
  font-family: FontAwesome;
  content: '閉じる';
}

.cp_box input:checked ~ .cp_container {
  height: auto;
  padding-bottom: 80px;
  /* 閉じるボタンのbottomからの位置 */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

li {
  list-style: none;
}

aside a {
  text-decoration: none;
  color: #333;
}

aside li {
  display: block;
  position: relative;
  padding-right: 10px;
  margin-bottom: 3%;
  padding: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

aside ul {
  margin-bottom: 15%;
}

aside li:hover {
  background-color: #eee;
}

aside li:before {
  content: "";
  position: absolute;
  top: 0.8em;
  right: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 5px;
  height: 5px;
  border-top: 3px solid #333;
  border-right: 3px solid #333;
}

aside img {
  width: 100%;
  margin-bottom: 5%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover';
}

.side_banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  aside img {
    width: 48%;
    height: 100%;
  }
  aside h2,
  aside ul {
    display: none;
  }
}

small {
  font-size: .8em;
}

/* SNS */
/* ボタン全体 */
.flowbtn {
  font-family: 'M PLUS 1p', sans-serif;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  width: 66px;
  height: 58px;
  font-size: 3.0rem;
  color: #fff !important;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 2px #999;
          box-shadow: 0 1px 2px #999;
}

.flowbtn i {
  position: relative;
}

/* Twitter */
.fl_tw1 {
  background: #55acee;
}

/* Facebook */
.fl_fb1 {
  background: #3b5998;
}

/* はてブ */
.fl_hb1 {
  background: #1ba5dc;
}

/* Pocket */
.fl_pk1 {
  background: #ef3f56;
}

/* Feedly */
.fl_fd1 {
  background: #6cc655;
}

/* YouTube */
.fl_yu1 {
  background: #fc0d1c;
}

/* LINE */
.fl_li1 {
  background: #00c300;
}

/* 問い合わせ */
.fl_ma1 {
  background: #f3981d;
}

/* Instagram紫グラデ背景 */
.insta_btn1 {
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: -webkit-linear-gradient(315deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow: hidden;
}

.insta_btn1:before {
  content: '';
  position: absolute;
  top: 33px;
  left: -20px;
  width: 80px;
  height: 50px;
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: -webkit-radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}

/* Instagramオレンジグラデ背景 */
/* ボタン内テキスト調整 */
.flowbtn div {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0;
  position: relative;
  bottom: 10px;
}

.flowbtn:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  text-decoration: none;
}

/* ボタンマウスホバー時 */
/* ulタグの内側余白を０にする */
ul.snsbtniti {
  padding: 0 !important;
  width: 50%;
  margin: 0 auto;
}

/* ボタン全体の位置調整 */
.snsbtniti {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.snsbtniti li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  text-align: center !important;
}

/* ボタン同士の余白調整 */
footer img {
  width: 20%;
  margin: 2% 0;
}

@media screen and (max-width: 600px) {
  footer img {
    width: 80%;
  }
}

#include_footer_inner {
  margin: 0 auto;
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2% 20%;
}

#include_footer_inner a {
  text-decoration: none;
  color: #333;
}

#include_footer_inner p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10%;
}

#include_footer_inner ul {
  font-size: 1.4rem;
  padding-left: 15px;
}

#include_footer_inner li {
  line-height: 3;
}

#include_footer_inner a {
  position: relative;
  display: block;
  text-decoration: none;
}

#include_footer_inner a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#include_footer_inner a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media screen and (max-width: 600px) {
  #include_footer_inner {
    text-align: center;
  }
  #include_footer_inner div {
    width: 100%;
  }
  #include_footer_inner p {
    margin-bottom: 2%;
  }
  #include_footer_inner ul {
    margin-bottom: 5%;
    padding-left: 0;
  }
  #include_footer_inner li {
    line-height: 2;
  }
}

hr {
  border: none;
  margin-bottom: 3%;
}

/* アコーディオン */
.accordion-container .accordion-title {
  position: relative;
  padding: 1% 0;
  margin: 0 0 2% 0;
  font-size: 1.1em;
  font-weight: normal;
  color: #333;
  cursor: pointer;
  border-bottom: #427eff 1px solid;
  font-weight: 500;
}

.accordion-container .accordion-title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  /*縦線に*/
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #333;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.accordion-container .accordion-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  /*横線*/
  width: 15px;
  height: 2px;
  background: #333;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.accordion-container .accordion-title.open::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-container .accordion-title.open::after {
  opacity: 0;
}

.accordion-content {
  margin-bottom: 5%;
  line-height: 1.8;
}

/* CSS for CodePen */
.accordion-container {
  width: 100%;
  margin: 0 auto;
}

.accordion-content a {
  margin: 2% 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #31aae2));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 50%, #31aae2 50%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #31aae2 50%);
  background-position: 0 0;
  background-size: 200% auto;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  color: #31aae2;
}

.accordion-content a:hover {
  padding: 0 10px;
  background-position: -100% 0;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .accordion-container .accordion-title {
    padding: 3.5% 0;
  }
}

.qa_list a {
  margin: 2% 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #31aae2));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 50%, #31aae2 50%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #31aae2 50%);
  background-position: 0 0;
  background-size: 200% auto;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  color: #31aae2;
  line-height: 2;
}

.qa_list a:hover {
  padding: 0 10px;
  background-position: -100% 0;
  color: #fff;
}

/* IE object_fit */
.ie_cover {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover';
}

.ie_contain {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: 'object-fit: contain';
}

h3.showroom {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
  margin: 3% 0;
}

/* カタログページ */
section.catalog {
  text-align: center;
  font-size: 16px;
}

section.catalog h3 {
  font-size: 2.0rem;
  margin-bottom: 2%;
  color: red;
}

section.catalog ul {
  background-color: #F0F0F0;
  padding: 1% 3%;
  border-radius: 10px;
}

section.catalog li {
  text-align: left;
  line-height: 2;
  list-style-image: url(../img/common/li_flower.png);
}

section.catalog div.btn {
  width: 50%;
  background: -webkit-linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
  background: linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
  border-radius: 10px;
  height: 45px;
  line-height: 30px;
  font-size: 1.6rem;
  padding: 10px;
  font-weight: 750;
}

section.catalog div.btn:hover {
  background: -webkit-linear-gradient(45deg, #e85483 0%, #40c2f0 100%);
  background: linear-gradient(45deg, #e85483 0%, #40c2f0 100%);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

section.catalog div.btn a {
  text-decoration: none;
  color: #fff;
}

section.catalog img {
  margin-bottom: 3%;
}

@media screen and (max-width: 600px) {
  section.catalog ul {
    padding: 1% 3% 1% 7%;
  }
  section.catalog div.btn {
    width: 80%;
  }
  section.catalog img {
    width: 100%;
  }
}

#dejikata h3 {
  text-align: center;
  padding-bottom: 2%;
  color: #333;
}

#dejikata dl {
  line-height: 1.5em;
  clear: both;
  position: relative;
  background-color: #F0F0F0;
  margin: 5% 0;
  max-height: 150px;
  overflow: scroll;
  padding-top: 2%;
  text-align: left;
}

#dejikata dt {
  padding-left: .5em;
  font-weight: 700;
}

#dejikata dd {
  padding-left: .5em;
  position: relative;
  padding-bottom: 2%;
}

@media screen and (min-width: 768px) {
  #dejikata dt {
    clear: left;
    float: left;
    width: 10%;
    font-weight: 700;
  }
  #dejikata dd {
    padding-left: .5em;
  }
}

/*readmore */
.hide-text {
  display: none;
}

button.readmore {
  position: relative;
  height: 50px;
  width: 90px;
  margin: 0px auto;
  display: block;
  background-color: transparent;
  color: #333;
  padding-bottom: 20px;
  border: none;
  outline: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -erbkit-transition: .5s;
}

button.readmore::after {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  border-top: solid 3px #333;
  border-right: solid 3px #333;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  right: 28px;
  top: 25px;
  -webkit-transition: .5s;
  transition: .5s;
  -erbkit-transition: .5s;
}

button.readmore:hover::after {
  top: 40px;
}

.on-click {
  color: transparent !important;
}

.on-click {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.search_item {
  display: inline-block;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 1%;
  border-radius: 10px;
  margin: 2% 0;
}

.search_item.is-active {
  color: white;
  background: -webkit-linear-gradient(45deg, #e85483 0%, #40c2f0 100%);
  background: linear-gradient(45deg, #e85483 0%, #40c2f0 100%);
  border-radius: 10px;
  text-align: center;
}

.is-hide {
  display: none;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.list li {
  width: calc(92% / 4);
  padding: 1%;
}

.list img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover';
}

@media screen and (max-width: 600px) {
  .list img {
    height: 180px;
  }
  .list li {
    width: calc(92% / 3);
    padding: 1%;
  }
}

/*個人情報の取り扱い*/
.personal_info ol {
  padding: 0 3%;
}

.personal_info li {
  list-style: decimal;
  line-height: 1.8;
  margin-bottom: 2%;
  margin-left: 20px;
}

.personal_info li span {
  display: block;
  font-size: 18px;
  font-weight: 500;
}

.personal_info div {
  border: 1px solid #aaa;
  padding: 2%;
}

.personal_info div p {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 1%;
  border-bottom: #aaa 1px solid;
}

/*購入に関する注意とお願い*/
.attention_doc {
  font-size: 1.6rem;
  line-height: 2;
  overflow-x: auto;
  margin: 5% 0;
}

.attention_doc h3 {
  font-size: 1.8rem;
  font-weight: 750;
}

.attention_doc ul {
  margin-left: 20px;
}

.attention_doc ol {
  margin-left: 20px;
}

.attention_doc li {
  line-height: 2;
  list-style-image: url(../img/common/li_flower.png);
}

.attention_doc li .number {
  list-style: decimal;
}

section.attention_doc table {
  width: 100% !important;
  border-collapse: collapse !important;
  text-align: center !important;
  table-layout: fixed !important;
  margin-top: 1% !important;
}

section.attention_doc th,
section.attention_doc td {
  padding: 10px !important;
  border: 1px solid #ddd !important;
}

section.attention_doc th {
  background: #f4f4f4 !important;
}

section.attention_doc table td {
  text-align: center !important;
}

@media only screen and (max-width: 600px) {
  section.attention_doc table {
    display: block !important;
    width: 100% !important;
    margin: 0 -10px !important;
  }
  section.attention_doc table thead {
    display: block !important;
    float: left !important;
    overflow-x: scroll !important;
  }
  section.attention_doc table tbody {
    display: block !important;
    width: auto !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
  }
  section.attention_doc table th {
    display: block !important;
    width: auto !important;
  }
  section.attention_doc table tbody tr {
    display: inline-block !important;
    margin: 0 -3px !important;
  }
  section.attention_doc table td {
    display: block !important;
  }
}

/*個人情報保護方針*/
section.protec section {
  margin: 5% 0;
  padding: 1%;
}

section.protec div {
  margin: 2% 0;
}

section.protec div.tex_right {
  text-align: right;
}

section.protec h3 {
  font-size: 1.6rem;
  font-weight: 750;
}

section.protec ol {
  padding-left: 20px;
}

section.protec li {
  list-style: decimal;
  margin: 2% 0;
}

section.protec li span {
  font-weight: bold;
  display: block;
}

section.protec dl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 1px #aaa;
  text-align: center;
}

section.protec dl.first {
  font-weight: bold;
  border-top: solid 1px #aaa;
}

section.protec dt {
  width: 30%;
  text-align: center;
  font-weight: bold;
}

section.protec dd {
  width: 65%;
  border-left: 1px solid #aaa;
}

section.protec dt, section.protec dd {
  padding: 1%;
}

@media only screen and (max-width: 600px) {
  section.protec dl {
    display: block;
    border: 0px;
  }
  section.protec dl.first {
    display: none;
  }
  section.protec dt, section.protec dd {
    width: 95%;
    border: 0px;
  }
  section.protec dt {
    background-color: #aaa;
    height: 20px;
    padding-top: 5px;
  }
  section.protec dd {
    margin: 2% 0;
  }
}

section.protec div.madoguchi {
  border: 1px solid #aaa;
  padding: 2%;
}

section.protec div.madoguchi p {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 1%;
  border-bottom: #aaa 1px solid;
}

#sysWrap {
  margin-top: 0;
}
/*# sourceMappingURL=custom.css.map */