@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.3%;
}

body {
  font-size: 1.6rem;
  font-family: "M PLUS 1p", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 480px) {
  body {
    font-size: 1.4rem;
  }
}

img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

@media (max-width: 480px) {
  main {
    padding: 1%;
  }
}

footer {
  width: 100%;
  text-align: center;
}

footer small {
  font-size: 1.2rem;
}

@-webkit-keyframes text_animation1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text_animation1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text_animation2 {
  0% {
    letter-spacing: 0;
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    letter-spacing: 0;
  }
}

@keyframes text_animation2 {
  0% {
    letter-spacing: 0;
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    letter-spacing: 0;
  }
}

@-webkit-keyframes text_animation3 {
  0% {
    letter-spacing: 0;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text_animation3 {
  0% {
    letter-spacing: 0;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section.feature header {
  -webkit-animation: text_animation1 5s;
          animation: text_animation1 5s;
}

section.feature h1 {
  -webkit-animation: text_animation3 3s;
          animation: text_animation3 3s;
}

section.feature header div {
  -webkit-animation: text_animation2 3s;
          animation: text_animation2 3s;
}

section.feature header {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(./../img/feature/soba_image.jpg);
  background-position: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.feature header h1 {
  font-size: 10vw;
  color: #fff;
  text-align: left;
  font-family: "Rajdhani", sans-serif;
  line-height: 1;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 480px) {
  section.feature header h1 {
    font-size: 16vw;
    margin-bottom: 10%;
  }
}

section.feature header div {
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  line-height: 2;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

section.feature section {
  margin: 5% 0;
}

section.feature h2 {
  font-size: 5rem;
  color: #40c2f0;
  position: relative;
  text-align: center;
  background: -webkit-linear-gradient(45deg, #40c2f0 0%, #e95383 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  position: relative;
  display: block;
  margin-bottom: 1em;
  text-align: center;
}

@media (max-width: 1024px) {
  section.feature h2 {
    font-size: 4rem;
    margin-bottom: 3%;
  }
}

@media (max-width: 768px) {
  section.feature h2 {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  section.feature h2 {
    font-size: 2.5rem;
    margin-bottom: 10%;
  }
}

section.feature div {
  width: 100%;
  margin: 2% auto;
  text-align: center;
}

section.feature ul {
  margin: 2% 0;
}

section.feature ul li {
  list-style: none;
  line-height: 2;
  font-weight: 700;
}

section.feature .flex_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  section.feature .flex_box h2 {
    font-size: 2rem;
  }
}

section.feature .flex_box div {
  width: 50%;
}

@media (max-width: 480px) {
  section.feature .flex_box div {
    padding: 1%;
  }
}

section.feature .flex_box img {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}

@media (max-width: 480px) {
  section.feature .flex_box img {
    height: 30vh;
  }
}

section.feature .flex_box_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 1280px;
}

@media (max-width: 1024px) {
  section.feature .flex_box_item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  section.feature .flex_box_item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  section.feature .flex_box_item {
    width: 100%;
  }
}

section.feature .flex_box_item div {
  width: 32%;
}

section.feature .flex_box_item img {
  width: 100%;
  margin-bottom: 3%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
  border-radius: 10px;
}

section.feature img.col1 {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}

@media (max-width: 480px) {
  section.feature img.col1 {
    height: 500px;
  }
}

section.feature a {
  text-decoration: none;
  color: #333;
}

section.feature a:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-filter: "alpha( opacity=50 )";
  -webkit-filter: "alpha( opacity=50 )";
  -o-filter: "alpha( opacity=50 )";
  -ms-filter: "alpha( opacity=50 )";
}

.empty_item {
  width: 30%;
}

section.feature_led {
  margin: 0 auto;
  background-color: black;
  color: white;
  text-align: center;
}

section.feature_led a {
  color: #fff;
  text-decoration: none;
}

section.feature_led header {
  height: 100vh;
  background-size: cover;
  background-image: url(./../img/feature/led_top.jpg);
  background-position: 80% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

section.feature_led header h1 {
  font-size: 15vw;
  color: #fff;
  text-align: left;
  font-family: "Rajdhani", sans-serif;
  text-shadow: 0 0 100px #fff, 0 0 40px #40c2f0, 0 0 50px #40c2f0, 0 0 60px #40c2f0;
}

@media (max-width: 480px) {
  section.feature_led header h1 {
    font-size: 16vw;
    margin-bottom: 10%;
  }
}

section.feature_led header p {
  width: 90%;
  text-align: center;
  font-size: 2rem;
  line-height: 2;
  font-weight: bolder;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

section.feature_led main {
  margin: 0 auto;
}

section.feature_led h2 {
  font-size: 5rem;
  text-align: center;
  font-weight: 900;
  text-shadow: 0 0 100px #fff, 0 0 40px #40c2f0, 0 0 50px #40c2f0, 0 0 60px #40c2f0;
  margin: 5% 0;
}

@media (max-width: 480px) {
  section.feature_led h2 {
    font-size: 2.5rem;
  }
}

section.feature_led .flex_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3% 0;
}

@media (max-width: 480px) {
  section.feature_led .flex_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section.feature_led .flex_box div {
  width: 50%;
}

@media (max-width: 480px) {
  section.feature_led .flex_box div {
    width: 100%;
  }
}

section.feature_led .flex_box img {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}

@media (max-width: 480px) {
  section.feature_led .flex_box img {
    height: 50vh;
  }
}

section.feature_led .flex_box_item {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 900px;
  background-color: black;
  border-radius: 10px;
  padding: 0.5%;
  margin-bottom: 5%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1024px) {
  section.feature_led .flex_box_item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  section.feature_led .flex_box_item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  section.feature_led .flex_box_item {
    width: 90%;
  }
}

section.feature_led .flex_box_item:hover {
  -webkit-box-shadow: 0 0 50px #fff, -10px 0 20px #0ff, 10px 0 20px #0ff;
          box-shadow: 0 0 50px #fff, -10px 0 20px #0ff, 10px 0 20px #0ff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

section.feature_led .flex_box_item p {
  text-align: left;
  padding-left: 3.2rem;
}

section.feature_led .flex_box_item h3 {
  font-size: 2.5rem;
  margin-bottom: 5%;
}

section.feature_led .flex_box_item div {
  width: 50%;
}

@media (max-width: 480px) {
  section.feature_led .flex_box_item div {
    width: 100%;
  }
}

section.feature_led .flex_box_item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
  border-radius: 10px;
}

section.feature_led .flex_box_item img.col1 {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}

@media (max-width: 480px) {
  section.feature_led .flex_box_item img.col1 {
    height: 500px;
  }
}

section.feature_led .flex_box_item .button {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  margin-top: 5%;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section.feature_led .flex_box_item .button::before, section.feature_led .flex_box_item .button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: "";
}

section.feature_led .flex_box_item .button::before, section.feature_led .flex_box_item .button::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section.feature_led .flex_box_item .button {
  background-color: #aaa;
  border: 2px solid #aaa;
  color: #fff;
  line-height: 50px;
}

section.feature_led .flex_box_item .button:hover {
  background-color: #fff;
  border-color: #0ff;
  color: #59b1eb;
  -webkit-box-shadow: 0 0 30px #0ff;
          box-shadow: 0 0 30px #0ff;
}

@-webkit-keyframes led_animation1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0, 8;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes led_animation1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0, 8;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes led_animation2 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes led_animation2 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section.feature_led header {
  -webkit-animation: led_animation1 2s;
          animation: led_animation1 2s;
}

section.feature_led header h1,
section.feature_led header h2,
section.feature_led header p {
  -webkit-animation: led_animation2 4s;
          animation: led_animation2 4s;
}

/***特集鬼滅の刃****/
section.glas_bass .leed {
  text-align: center;
  font-size: 110%;
  margin-bottom: 5%;
}

section.glas_bass h3 {
  display: block;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

section.glas_bass h3 img {
  width: 100%;
  margin: 0 auto;
}

section.glas_bass div.flex_box_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

section.glas_bass div.flex_box_item div {
  width: calc(100% / 2 - 5%);
  text-align: center;
  margin-bottom: 5%;
}

section.glas_bass div.flex_box_item div span {
  font-size: 80%;
}

section.glas_bass div.flex_box_item div a {
  text-decoration: none;
  color: black;
}

section.glas_bass div.flex_box_item img {
  width: 100%;
  margin-bottom: 3%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
  border-radius: 10px;
}

section.glas_bass div.flex_box_item img :hover {
  -webkit-box-shadow: 0px 0px 10px gray;
          box-shadow: 0px 0px 10px gray;
}

section.glas_bass div.flex_box_item .tag {
  display: inline-block;
  margin: 0 0.1em 0.6em 0;
  padding: 0.6em;
  line-height: 1;
  text-decoration: none;
  color: #0000ee;
  background-color: #fff;
  border: 1px solid #0000ee;
  border-radius: 2em;
  font-size: 12px;
}

section.glas_bass div.flex_box_item .tag:before {
  content: "#";
}

/***おかえり手洗いLP****/
body {
  color: #627e4e !important;
  background-color: #eae3c1 !important;
}

#okaeri header {
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(./../img/feature/okaeri/header-img.png) no-repeat center center;
  background-size: cover;
}

@media (max-width: 768px) {
  #okaeri header {
    height: 70vh;
    background: url(./../img/feature/okaeri/header-img_sp.png) no-repeat center center;
    background-size: cover;
  }
}

#okaeri header h1 img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  #okaeri header h1 img {
    width: 90%;
  }
}

.okaeri__exp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(./../img/feature/okaeri/okaeri__exp_img.jpeg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 1024px) {
  .okaeri__exp {
    height: 50vh;
  }
}

@media (max-width: 768px) {
  .okaeri__exp {
    height: 80vh;
  }
}

@media (max-width: 480px) {
  .okaeri__exp {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
  }
}

.okaeri__exp div {
  width: 60%;
  max-width: 600px;
  font-size: 1.6rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2%;
}

@media (max-width: 768px) {
  .okaeri__exp div {
    width: 90%;
    font-size: 1.4rem;
  }
}

.okaeri__exp .okaere_exp_01 {
  background-color: #627e4e;
  color: white;
  margin-top: 5%;
}

.okaeri__exp .okaere_exp_01 img {
  width: 90px;
  height: 150px;
  display: block;
  margin: 0 auto 3% auto;
}

@media (max-width: 768px) {
  .okaeri__exp .okaere_exp_01 {
    margin-top: 10%;
  }
}

@media (max-width: 480px) {
  .okaeri__exp .okaere_exp_01 {
    margin-top: 10%;
  }
}

.okaeri__exp .okaere_exp_02 {
  background-color: rgba(234, 227, 193, 0.8);
}

@media (max-width: 768px) {
  .okaeri__exp .okaere_exp_02 {
    margin-bottom: 10%;
  }
}

.okaeri_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10% auto;
  background-color: #627e4e;
  max-width: 1200px;
  width: 90%;
}

@media (max-width: 480px) {
  .okaeri_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10% auto;
  }
}

.okaeri_title h2,
.okaeri_title h3 {
  text-align: center;
  color: white;
  padding: 2%;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.okaeri_title h2 {
  font-size: clamp(20px, 3vw, 35px);
  font-weight: 800;
}

.okaeri_title h3 {
  font-size: clamp(16px, 2vw, 22px);
  font-weight: normal;
  margin-bottom: 3%;
}

.okaeri_title div {
  width: 50%;
}

@media (max-width: 480px) {
  .okaeri_title div {
    width: 100%;
  }
}

.okaeri_title div img {
  -o-object-fit: contain;
     object-fit: contain;
}

.okaeri_exp__counter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: url(./../img/feature/okaeri/okaeri_exp_counter_bk@2x.png) no-repeat center center;
  background-size: cover;
  padding: 5% 0;
}

@media (max-width: 480px) {
  .okaeri_exp__counter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.okaeri_exp__counter div {
  text-align: center;
  font-weight: 750;
  width: 35%;
  background: rgba(255, 255, 255, 0.8);
  margin: 5%;
  padding: 1%;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 480px) {
  .okaeri_exp__counter div {
    width: 70%;
  }
}

.okaeri_exp__counter div img {
  width: 65%;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
          filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
}

.okaeri_exp__counter div h2 {
  margin: 3% 0;
  font-size: clamp(20px, 3vw, 35px);
}

.okaeri_exp__counter div h3 {
  font-size: clamp(18px, 2.5vw, 30px);
}

.okaeri_exp__counter div h3 span {
  font-size: 75%;
  font-weight: 400;
}

.okaeri_title_step {
  position: relative;
  background-color: #627e4e;
  height: 450px;
}

@media (max-width: 480px) {
  .okaeri_title_step {
    height: 50vh;
  }
}

.okaeri_title_step h2 {
  font-size: clamp(20px, 2vw, 35px);
  text-align: center;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 3%;
}

.okaeri_title_step h2 img {
  display: block;
  margin: 10% auto;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
          filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
}

.okaeri_title_step .okaeri_title_step__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.3;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

@media (max-width: 768px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

.okaeri_step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  background: url(./../img/feature/okaeri/okaeri_step_bk.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 10%;
}

@media (max-width: 480px) {
  .okaeri_step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    background-position: 90% 0%;
  }
}

.okaeri_step__wapper {
  position: relative;
  margin: 0 2%;
}

@media (max-width: 480px) {
  .okaeri_step__wapper {
    width: 90%;
  }
}

.okaeri_step__inner {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 3%;
}

.okaeri_step__inner h3,
.okaeri_step__inner h4 {
  text-align: center;
}

.okaeri_step__inner h3 {
  font-size: clamp(18px, 1.75vw, 25px);
  margin-bottom: 5%;
  font-weight: 750;
}

.okaeri_step__inner h4 {
  font-size: clamp(16px, 1.5vw, 18px);
  font-weight: 500;
  margin-bottom: 5%;
}

.okaeri_step img {
  display: block;
  margin: 10% auto;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
          filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
}

.okaeri__btn {
  display: block;
  color: #627e4e;
  padding: 3%;
  ont-size: clamp(16px, 1.5vw, 18px);
  text-align: center;
  font-weight: 750;
  text-decoration: none;
  border: 1px #627e4e solid;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.okaeri__btn:hover {
  color: white;
  background-color: #627e4e;
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.okaeri_step_content {
  text-align: center;
}

.okaeri_step_content__wapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.okaeri_step_content__inner {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .okaeri_step_content__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.straight-counter_color {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.straight-counter_color div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.straight-counter_color div div {
  width: 45%;
}

.straight-counter_color h3,
.straight-counter_color p {
  margin: 0 auto;
}

.step_btn {
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.step_btn a {
  width: 40%;
  margin: 5% 0;
}
/*# sourceMappingURL=feature.css.map */