/*flobal_tes*/

$border-radius: 10px;
$margintb_5:5% 0;
$font-size-16:1.6rem;

* {
  margin: 0;
  padding: 0;
}


html {
  font-size: 62.3%;
}

body {
  color: #333;
  font-size: $font-size-16;
  //16px
  font-family: "M PLUS 1p", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


div.container {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

p.txt_center {
  text-align: center;
}


main {
  width: 78%;
  margin: 0 auto;
  order: 2;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;


  section {
    margin: $margintb_5;
  }

  section:first-child {
    margin-top: 0%;
  }

}

aside {
  width: 18%;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

footer {
  width: 100%;
  background-color: #F0F0F0;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  /*
  body {
    font-size: 14px !important;
  }
*/

  div.container {
    width: 95%;
  }

  main {
    width: 100%;
    margin: 0 auto;
    order: 2;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;

  }

  aside {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    margin-top: 10%;
  }
}

.top_newarrival .sysContent .sysHorizontal .sysItemImage img {
  object-fit: cover;
  height: 180px;
  font-family: 'object-fit: cover';
}

.tes_001 img {
  object-fit: cover;

  /*height:290px;*/
  border-radius: 5%;
  font-family: 'object-fit: cover';
}

/*スマフォ対応*/
@media screen and (max-width: 480px) {
  .top_newarrival .sysContent .sysHorizontal .sysItemImage img {
    height: 120px;
  }

  .tes_001 img {
    height: 100px;
  }
}

#tes_001_slider li {
  width: 25%;
  background: #fff;
}

.tes_001 .sysContent .sysHorizontal li {
  width: 100% !important;
}

#sysItemDetail .active {
  background: #fff url(/img/layout/system/ico_minus.png) 10px center no-repeat !important;
  background-size: 1px !important;
}

/*tes*/

div.item_banner {
  width: 100%;
  text-align: center;
  position: relative;

  div {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0 0 5px #333333;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 900;
    border-bottom: white 2px solid;
    margin: 0 0 2% 0;

    span {
      display: block;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1;
    }
  }

  img {
    width: 100%;
  }
}

img {
  &.sp {
    display: none !important;
  }

  &.pc {
    display: block !important;
  }
}

@media screen and (max-width: 600px) {
  div.item_banner {
    div {
      width: 90%;
    }

    h3 {
      font-size: 2rem;

      span {
        font-size: 1.5rem;
      }
    }
  }

  img {
    &.sp {
      display: block !important;
    }

    &.pc {
      display: none !important;
    }
  }
}

/*ヒーロヘッダー*/

div.hero_header {
  width: 100vw;
  height: 90vh;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-wrap {
  position: relative;
}

video {
  display: block;
  margin: 0 0 0 auto;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  filter: sepia(100%);
  font-family: 'object-fit: cover';
}

.video-wrap h2 {
  color: #fff;
  font-size: 900%;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
}

header {
  margin-bottom: 3%;
  display: block;
  text-align: center;

  img {
    width: 300px;
    margin-top: 2%;
  }
}

/*コーディネート*/

.coordinator {
  h3 {
    color: #40c2f0;
    position: relative;
    text-align: center;
    font-size: 50px;
    background: -webkit-linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
    -webkit-background-clip: text; //テキストでくり抜く
    -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
    font-weight: 900;
  }

  p {
    text-align: center;
    margin-bottom: 2%;
  }

  strong {
    font-size: 2.0rem;
    display: inline-block;
    margin: 1.5% 0;
  }

  @media screen and (max-width: 600px) {
    h3 {
      font-size: 2.3rem;
      line-height: 1.5;
    }

    strong {
      font-size: 1.6rem;
    }
  }
}


.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 5%;
}

.coordination {
  width: 32%;
}

.col_4 .coordination,
.null_box {
  width: 19%;
}

a.inline p {
  text-align: center;
  margin-top: -2%;
}

.coordination img,
.inline_imgbox img {
  width: 100%;
  min-height: 200px !important;
  border-radius: $border-radius;
  object-fit: cover;
  font-family: 'object-fit: cover';
}

.col_4 .coordination img {
  height: 250px;
}

.coordination img.coordination_img {
  margin: $margintb_5;
}

.inline_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: center;

  div {
    width: 18%;
    padding: 1%;
  }
}


/*ライトボックス*/

.popupbox {
  height: 100vh;
  width: 100vw;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  text-align: center;

  &:target {
    display: table;
  }
}

.popuplink {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.popupimg {
  background-color: #fff;
  display: block;
}

.popupimgBG {
  display: inline-block;
  background-color: #FFF;
  padding: 10px;
  width: 75%;

  img {
    width: 100%;
  }
}

.flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 2% auto;

  div.first_box {
    /*margin: 1%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.item_3 .first_box {
  width: 30%;
}

.item_2 .first_box {
  width: 48%;
}

.item_3 .first_box img {
  height: 500px;
}

.item_2 .first_box img {
  height: 800px;
}

.flex_box div {
  &.first_box img {
    width: 100%;
    object-fit: cover;
    border-radius: $border-radius;
    font-family: 'object-fit: cover';
  }

  &.second_box {
    width: 30%;

    /*margin: 1%;*/
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    img {
      border-radius: $border-radius;
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover';
    }
  }

  &.first_box {
    &:first-child {
      margin-left: 0%;
    }

    &:last-child {
      margin-right: 0%;
    }
  }
}

.empty_item {
  width: 30%;
}

h2 {
  font-size: 2.3rem !important;
  width: 100%;
  position: relative;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #40c2f0 0%, #e85483 100%);
  border-image-slice: 0 0 1;
  font-weight: 700;
  margin-bottom: 2%;
}

.coordinator_doc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.5%;
}

@media screen and (max-width: 600px) {
  .flex_box {
    width: 100%;

    div.first_box {
      width: 100%;
      height: 500px;
      margin-bottom: 10%;
      margin-bottom: 2%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .col_4 .coordination,
  .coordination,
  .null_box {
    width: 32%;
  }
}

/*メニュー*/

.menu-container {
  margin: 0;
  overflow-x: auto;

  .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 3%;

    &::after {
      clear: both;
      content: "";
      display: block;
    }

    .menu-item {
      flex: 1;
      white-space: nowrap;

      a {
        background: #fff;
        border: 1px solid #ccc;
        border-right: none;
        color: #333;
        display: block;
        min-width: 150px;
        padding: 0.6em 0.4em;
        text-align: center;
        text-decoration: none;

        &:hover {
          background: linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
          color: #ffffff;
        }
      }
    }
  }
}

footer .menu-container .menu .menu-item a {
  &:hover {
    background: linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
    color: #ffffff;
  }

  border: 1px solid #ccc;
  border-right: none;
  color: #333;
  display: block;
  min-width: 150px;
  padding: 0.6em 0.4em;
  text-align: center;
  text-decoration: none;
}

.menu-container .menu .menu-item:last-child a {
  border-right: 1px solid #ccc;
}

/******* btnボタン *******/

.btn {
  text-align: center;
  margin: 5% auto;
}

.btn-cross {
  display: inline-block;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px #40c2f0;
  border-bottom: solid 2px #e85483;
  text-decoration: none;
  font-weight: bold;
  color: #03A9F4;
  text-align: center;
  font-size: 2.0rem;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);

    /*background-color: black;*/
    background: -webkit-gradient(linear, left top, right bottom, from(#40c2f0), to(#e85483));
    background: -moz-linear-gradient(left, #40c2f0, #e85483);
    background: linear-gradient(left, #40c2f0, #e85483);
    transition: .3s;
  }

  &:before {
    left: 7px;
  }

  &:after {
    right: 7px;
  }

  &:hover {
    &:before {
      top: 0px;
      left: 0;
      height: 100%;
    }

    &:after {
      top: 0px;
      right: 0;
      height: 100%;
    }
  }
}

/*ショールーム*/

#include_showroom {
  margin: 0 auto;
}

.showroom_box {
  margin: 3% 0;
}

.sr_info {
  text-align: center;
}

.showroom_box {
  font-size: $font-size-16;

  img {
    object-fit: cover;
    font-family: 'object-fit: cover';
    //margin: 3% 0;
  }

  h4 {
    padding-bottom: .5em;
    font-size: 2.4rem;
    font-weight: 750;
    text-align: center;
    border-bottom: #e85483 2px solid;
    margin-bottom: 1%;

    span {
      display: block;
      margin-bottom: .2em;
      color: #aaa;
      font-size: 1.3rem;
    }
  }

  h5 {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 300px;
    max-width: 100%;
    color: #fff;
    font-size: 2.0rem;
    background: #03A9F4;
    text-align: center;
    border-radius: $border-radius;

    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -15px;
      border: 15px solid transparent;
      border-top: 15px solid #03A9F4;
    }
  }

  p {
    line-height: 2;
  }
}

.acces {
  font-weight: 900;
  font-size: 1.8rem;
}

.showrroom_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;

  li {
    width: 300px;
    text-align: center;
    background: linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
    height: 45px;
    line-height: 30px;
    margin-right: 2px;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 10px;
    color: #fff;
    border-radius: $border-radius;
    margin-bottom: 5%;

    &:hover {
      background: linear-gradient(45deg, #e85483 0%, #40c2f0 100%);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    }
  }

  a {
    text-decoration: none !important;

    &:active {
      text-decoration: none !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .showrroom_list {
    flex-direction: column;
    margin-bottom: 15%;

    li {
      width: 80%;
      margin: 5% auto;
    }
  }
}

/*=== 画像の表示エリア ================================= */

.slide {
  position: relative;
  overflow: hidden;

  /* 画像のサイズに合わせて変更ください */
  width: 100%;
  height: 500px;
  margin: auto;

  /* サンプルは中央寄せの背景：白 */
  background: #fff;

  img {
    display: block;
    position: absolute;

    /* 画像のサイズを表示エリアに合せる */
    width: inherit;
    height: inherit;
    opacity: 0;
    animation: slideAnime 15s ease infinite;
    border-radius: $border-radius;

    &:nth-of-type(1) {
      animation-delay: 0s;
    }

    &:nth-of-type(2) {
      animation-delay: 3s;
    }

    &:nth-of-type(3) {
      animation-delay: 6s;
    }

    &:nth-of-type(4) {
      animation-delay: 9s;
    }

    &:nth-of-type(5) {
      animation-delay: 12s;
    }
  }
}

/*=== 画像の設定 ======================================= */

/*=== スライドのアニメーションを段差で開始する ========= */

/*=== スライドのアニメーション ========================= */
@keyframes slideAnime {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 1;
  }

  18% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .slide {
    height: 200px;
  }
}

/*もっとみるボタン*/

.cp_box {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:before,
    &:after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  position: relative;
  margin-bottom: 10%;

  label {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 40px;

    /* グラデーションの高さ */
    cursor: pointer;
    text-align: center;

    /* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
    background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
  }

  input:checked+label {
    background: inherit;

    /* 開いた時にグラデーションを消す */
  }

  label:after {
    line-height: 2.5rem;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    width: 16rem;
    content: ' もっと見る';
    transform: translate(-50%, 0);
    letter-spacing: 0.05em;
    color: #ffffff;
    border-radius: $border-radius;
    background: linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
  }

  input {
    display: none;
  }

  .cp_container {
    overflow: hidden;
    height: 750px;

    /* 開く前に見えている部分の高さ */
    transition: all 0.5s;
  }

  input:checked {
    +label {
      /*display: none ; 閉じるボタンを消す場合解放 */

      &:after {
        font-family: FontAwesome;
        content: '閉じる';
      }
    }

    ~.cp_container {
      height: auto;
      padding-bottom: 80px;

      /* 閉じるボタンのbottomからの位置 */
      transition: all 0.5s;
    }
  }
}

li {
  list-style: none;
}

aside {
  a {
    text-decoration: none;
    color: #333;
  }

  li {
    display: block;
    position: relative;
    padding-right: 10px;
    margin-bottom: 3%;
    padding: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ul {
    margin-bottom: 15%;
  }

  li {
    &:hover {
      background-color: #eee;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0.8em;
      right: 5px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 5px;
      height: 5px;
      border-top: 3px solid #333;
      border-right: 3px solid #333;
    }
  }

  img {
    width: 100%;
    margin-bottom: 5%;
    object-fit: cover;
    font-family: 'object-fit: cover';
  }
}

.side_banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  aside {
    img {
      width: 48%;
      height: 100%;
    }

    h2,
    ul {
      display: none;
    }
  }
}

small {
  font-size: .8em;
}

/* SNS */
/* ボタン全体 */

.flowbtn {
  font-family: 'M PLUS 1p', sans-serif;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  width: 66px;
  height: 58px;
  font-size: 3.0rem;
  color: #fff !important;
  transition: .5s;
  text-decoration: none;
  box-shadow: 0 1px 2px #999;

  i {
    position: relative;
  }
}

/* Twitter */

.fl_tw1 {
  background: #55acee;
}

/* Facebook */

.fl_fb1 {
  background: #3b5998;
}

/* はてブ */

.fl_hb1 {
  background: #1ba5dc;
}

/* Pocket */

.fl_pk1 {
  background: #ef3f56;
}

/* Feedly */

.fl_fd1 {
  background: #6cc655;
}

/* YouTube */

.fl_yu1 {
  background: #fc0d1c;
}

/* LINE */

.fl_li1 {
  background: #00c300;
}

/* 問い合わせ */

.fl_ma1 {
  background: #f3981d;
}

/* Instagram紫グラデ背景 */

.insta_btn1 {
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 33px;
    left: -20px;
    width: 80px;
    height: 50px;
    background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background: radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  }
}

/* Instagramオレンジグラデ背景 */

/* ボタン内テキスト調整 */

.flowbtn {
  div {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0;
    position: relative;
    bottom: 10px;
  }

  &:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    text-decoration: none;
  }
}

/* ボタンマウスホバー時 */

/* ulタグの内側余白を０にする */

ul.snsbtniti {
  padding: 0 !important;
  width: 50%;
  margin: 0 auto;
}

/* ボタン全体の位置調整 */

.snsbtniti {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  li {
    flex: 0 0 10%;
    text-align: center !important;
  }
}

/* ボタン同士の余白調整 */

footer img {
  width: 20%;
  margin: 2% 0;
}

@media screen and (max-width: 600px) {
  footer img {
    width: 80%;
  }
}

#include_footer_inner {
  margin: 0 auto;
  background-color: #F0F0F0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2% 20%;

  a {
    text-decoration: none;
    color: #333;
  }

  p {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 10%;
  }

  ul {
    font-size: 1.4rem;
    padding-left: 15px;
  }

  li {
    line-height: 3;
  }

  a {
    position: relative;
    display: block;
    text-decoration: none;

    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #333;
      transform: scale(0, 1);
      transform-origin: center top;
      transition: transform .3s;
    }

    &:hover::after {
      transform: scale(1, 1);
    }
  }
}

@media screen and (max-width: 600px) {
  #include_footer_inner {
    text-align: center;

    div {
      width: 100%;
    }

    p {
      margin-bottom: 2%;
    }

    ul {
      margin-bottom: 5%;
      padding-left: 0;
    }

    li {
      line-height: 2;
    }
  }
}

hr {
  border: none;
  margin-bottom: 3%;
}

/* アコーディオン */

.accordion-container .accordion-title {
  position: relative;
  padding: 1% 0;
  margin: 0 0 2% 0;
  font-size: 1.1em;
  font-weight: normal;
  color: #333;
  cursor: pointer;
  border-bottom: #427eff 1px solid;
  font-weight: 500;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 15px;
    height: 2px;

    /*縦線に*/
    transform: rotate(90deg);
    background: #333;
    transition: all .15s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;

    /*横線*/
    width: 15px;
    height: 2px;
    background: #333;
    transition: all .15s ease-in-out;
  }

  &.open {
    &::before {
      transform: rotate(180deg);
    }

    &::after {
      opacity: 0;
    }
  }
}

.accordion-content {
  margin-bottom: 5%;
  line-height: 1.8;
}

/* CSS for CodePen */

.accordion-container {
  width: 100%;
  margin: 0 auto;
}

.accordion-content a {
  margin: 2% 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  text-decoration: none;
  color: rgb(49, 170, 226);

  &:hover {
    padding: 0 10px;
    background-position: -100% 0;
    color: #fff;
  }
}

@media screen and (max-width: 600px) {
  .accordion-container .accordion-title {
    padding: 3.5% 0;
  }
}

.qa_list a {
  margin: 2% 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  text-decoration: none;
  color: rgb(49, 170, 226);
  line-height: 2;

  &:hover {
    padding: 0 10px;
    background-position: -100% 0;
    color: #fff;
  }
}

/* IE object_fit */

.ie_cover {
  object-fit: cover;
  font-family: 'object-fit: cover';
}

.ie_contain {
  object-fit: contain;
  font-family: 'object-fit: contain';
}

h3.showroom {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
  margin: 3% 0;
}


/* カタログページ */

section.catalog {
  text-align: center;
  font-size: $font-size-16;

  h3 {
    font-size: 2.0rem;
    margin-bottom: 2%;
    color: red;
  }

  ul {
    background-color: #F0F0F0;
    padding: 1% 3%;
    border-radius: $border-radius;
  }

  li {
    text-align: left;
    line-height: 2;
    list-style-image: url(../img/common/li_flower.png);
  }

  div.btn {
    width: 50%;
    background: linear-gradient(45deg, #40c2f0 0%, #e85483 100%);
    border-radius: $border-radius;
    height: 45px;
    line-height: 30px;
    font-size: 1.6rem;
    padding: 10px;
    font-weight: 750;

    &:hover {
      background: linear-gradient(45deg, #e85483 0%, #40c2f0 100%);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  img {
    margin-bottom: 3%;
  }

  @media screen and (max-width: 600px) {
    ul {
      padding: 1% 3% 1% 7%;
    }

    div.btn {
      width: 80%;
    }

    img {
      width: 100%;
    }
  }
}

#dejikata {
  h3 {
    text-align: center;
    padding-bottom: 2%;
    color: #333;
  }

  dl {
    line-height: 1.5em;
    clear: both;
    position: relative;
    background-color: #F0F0F0;
    margin: $margintb_5;
    max-height: 150px;
    overflow: scroll;
    padding-top: 2%;
    text-align: left;
  }

  dt {
    padding-left: .5em;
    font-weight: 700;
  }

  dd {
    padding-left: .5em;
    position: relative;
    padding-bottom: 2%;
  }

  @media screen and (min-width: 768px) {
    dt {
      clear: left;
      float: left;
      width: 10%;
      font-weight: 700;
    }

    dd {
      padding-left: .5em;
    }
  }
}



/*readmore */

.hide-text {
  display: none;
}


button.readmore {
  position: relative;
  height: 50px;
  width: 90px;
  margin: 0px auto;
  display: block;
  background-color: transparent;
  color: #333;
  padding-bottom: 20px;
  border: none;
  outline: 0;
  transition: .5s;
  -erbkit-transition: .5s;
}

button.readmore::after {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  border-top: solid 3px #333;
  border-right: solid 3px #333;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  right: 28px;
  top: 25px;
  transition: .5s;
  -erbkit-transition: .5s;
}

button.readmore:hover::after {
  top: 40px;
}

.on-click {
  color: transparent !important;
}

.on-click {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}


.search_item {
  display: inline-block;
  flex-wrap: wrap;
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 1%;
  border-radius: $border-radius;
  margin: 2% 0;
}

.search_item.is-active {
  color: white;
  background: linear-gradient(45deg, #e85483 0%, #40c2f0 100%);
  border-radius: $border-radius;
  text-align: center;

}

.is-hide {
  display: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;


  li {
    width: calc(92% / 4);
    padding: 1%;
  }

  img {
    width: 100%;
    height: 350px;
    border-radius: $border-radius;
    object-fit: cover;
    font-family: 'object-fit: cover';
  }

  @media screen and (max-width: 600px) {
    img {
      height: 180px;
    }

    li {
      width: calc(92% / 3);
      padding: 1%;
    }

  }
}


/*個人情報の取り扱い*/

.personal_info {

  ol {
    padding: 0 3%;
  }

  li {
    list-style: decimal;
    line-height: 1.8;
    margin-bottom: 2%;
    margin-left: 20px;

    span {
      display: block;
      font-size: 18px;
      font-weight: 500;
    }
  }

  div {
    border: 1px solid #aaa;
    padding: 2%;

    p {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 1%;
      border-bottom: #aaa 1px solid;
    }
  }
}

/*購入に関する注意とお願い*/
.attention_doc {
  font-size: 1.6rem;
  line-height: 2;
  overflow-x: auto;
  margin: $margintb_5;

  h3 {
    font-size: 1.8rem;
    font-weight: 750;
  }

  ul {
    margin-left: 20px;
  }

  ol {
    margin-left: 20px;
  }

  li {
    line-height: 2;
    list-style-image: url(../img/common/li_flower.png);

    .number {
      list-style: decimal;
    }
  }

}

section.attention_doc table {
  width: 100% !important;
  border-collapse: collapse !important;
  text-align: center !important;
  table-layout: fixed !important;
  margin-top: 1% !important;
}

section.attention_doc th,
section.attention_doc td {
  padding: 10px !important;
  border: 1px solid #ddd !important;
}

section.attention_doc th {
  background: #f4f4f4 !important;
}

section.attention_doc table td {
  text-align: center !important;
}

@media only screen and (max-width: 600px) {
  section.attention_doc table {
    display: block !important;
    width: 100% !important;
    margin: 0 -10px !important;
  }

  section.attention_doc table thead {
    display: block !important;
    float: left !important;
    overflow-x: scroll !important;
  }

  section.attention_doc table tbody {
    display: block !important;
    width: auto !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
  }

  section.attention_doc table th {
    display: block !important;
    width: auto !important;
  }

  section.attention_doc table tbody tr {
    display: inline-block !important;
    margin: 0 -3px !important;
  }

  section.attention_doc table td {
    display: block !important;
  }
}

/*個人情報保護方針*/
section.protec {
  section {
    margin: 5% 0;
    padding: 1%;
  }

  div {
    margin: 2% 0;
  }

  div.tex_right {
    text-align: right;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 750;
  }

  ol {
    padding-left: 20px;
  }

  li {
    list-style: decimal;
    margin: 2% 0;

    span {
      font-weight: bold;
      display: block;
    }
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #aaa;
    text-align: center;


    &.first {
      font-weight: bold;
      border-top: solid 1px #aaa;
    }

  }

  dt {
    width: 30%;
    text-align: center;
    font-weight: bold;
  }

  dd {
    width: 65%;
    border-left: 1px solid #aaa;
  }

  dt,
  dd {
    padding: 1%;
  }

  @media only screen and (max-width: 600px) {

    dl {
      display: block;
      border: 0px;

      &.first {
        display: none;
      }
    }

    dt,
    dd {
      width: 95%;
      border: 0px;
    }

    dt {
      background-color: #aaa;
      height: 20px;
      padding-top: 5px;
    }

    dd {
      margin: 2% 0;
    }
  }

  div.madoguchi {
    border: 1px solid #aaa;
    padding: 2%;

    p {
      font-size: 1.8rem;
      font-weight: 500;
      padding-bottom: 1%;
      border-bottom: #aaa 1px solid;
    }
  }

}



/*お手入れ方法*/

section.oteire {
  font-size: $font-size-16;
  line-height: 2;

  h3 {
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  h3 {
    position: relative;
    //display: inline-block;
    padding: 1rem 2rem 1rem 4rem;
    color: #fff;
    border-radius: 100vh 0 0 100vh;
    background: #427eff;
  }

  h3:before {
    position: absolute;
    top: calc(50% - 7px);
    left: 10px;
    width: 14px;
    height: 14px;
    content: '';
    border-radius: 50%;
    background: #fff;
  }

  h4 {
    font-size: 1.6rem;
    font-weight: bolder;
  }

  p,
  h4 {
    padding-left: 32px;
  }

  img {
    width: 100%;
    margin-bottom: 3%;
  }

  span {
    background: linear-gradient(transparent 60%, #ffff66 60%);
    font-weight: 600;
  }
}

/*コンテンツ下共通バナー*/

section.attention_banner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0;

  div {
    width: 50%;
  }

  img {
    width: 100%;

    &:hover {
      box-shadow: 0px 0px 10px #999;
    }
  }
}

@media only screen and (max-width: 600px) {
  section.attention_banner
  {width: 98%;
  margin: 0 auto;}
}




/*テンプレート下層ページ調整*/


div#sysMain {
	float: right;
	width: 900px;
	margin: 20px auto;
	padding: 0 !important;
	border: 0 !important;
}

#sysWrap {
  max-width: 1100px;
  margin: 0 auto 0 !important;
  padding: 0;
  overflow: hidden;
}

.side_search .sysSearchButton{
  background-color: #5D5D5D !important;
  background-image: url(/img/common/ico_search.png) no-repeat center center;
}

#cartInfo{
  float: left;
  position: relative;
  margin-top: 24px;
  margin-left: 5px;
  width: 120px;
  height: 30px;
  line-height: 28px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #E95383 !important;
  background: #E95383 !important;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding-top: -10px;
}
#cartInfo p.cartTxt{
  margin: -2px;
  line-height: 21px;
  padding-top: 5px;
  font-size: 10px;
}
#cartInfo p img{
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}
#cartInfo i{
  margin-right: 5px;
}
.h_cart{
  display: none;
  width: 280px;
  height: 145px;
  position: absolute;
  top: 40px; right: 5px;
  border: 1px solid #aaa;
  background: #fff;
  color: #333;
  z-index: 110;
  padding: 10px 20px;
}
.h_cart dl{
  font-size: 12px;
  margin-bottom: 0px;
}
.h_cart dl:after{
  display: block;
  content: "";
  clear: both;
}
.h_cart dt, .h_cart dd{float: left;}
.h_cart dd span{
  display: inline-block;
  color: #da4636;
  font-weight: bold;
  padding: 0 5px;
}
.h_cart .sysCartInfoCartIn a{
  display: block;
  background: #E95383 !important;
  color: #fff;
  width: 100%;
  margin: 10px 0% 5px;
  height: 50px;
  padding: 12px 0 0;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-radius:5px;
}
.h_cart .sysCartInfoCartIn a:hover{
  background:#F2A5C4 !important;
}
.h_cart .sysCartInfoCartIn a img{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.h_cart .sysCartInfoCartIn a i{margin-right: 5px;}

/*カートに入れる*/
#sysItemDetail .sysCartButton {
  padding:23px 15px !important;
  text-indent: -999px;
  background: #E95383 url(/img/layout/system/btn_cart.png) center center no-repeat;
  background-size:140px;
}
#sysItemDetail .sysCartButton:hover {
  opacity:0.8;
}
#sysItemDetail .sysGoCartButton {
  background: #E95383 url(/img/layout/system/btn_cart2.png) center center no-repeat;
  background-size: 127px;
}